{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tailwind CSS Skeleton</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
</head>

<body class="bg-grey-lightest font-serif leading-normal tracking-normal">
  <!-- <h1>Django Login Mega-Tutorial</h1>
    {% if user.is_authenticated %}
  <p>Welcome {{ user.username }} !!!</p>
  <p><a href="{% url 'account_logout' %}">Log out</a>
    {% else %}
    <p>Sign Up</a></p>
    <p><a href="{% url 'account_login' %}">Log In </a></p>
    <p><a href="{% provider_login_url 'digitalocean' %}">Log In with DigitalOcean</a></p> 
  {% endif %} -->

  {% block homepage %}

  {% endblock homepage %}

  {% block content %}

  {% endblock content %}

</body>

</html>