{% extends 'dashboard.html' %}


{% block mainpage %}
<form action="/save_profile/" method="POST" class="w-full max-w-lg">
  <div class="flex flex-wrap -mx-2 mb-3">
    {% csrf_token %}
      {% for field in profile_form %}
      <div>
          <label
              class="block text-sm font-medium leading-5 text-gray-700">{{ field.label_tag }}</label>
          <div class="mt-1 relative rounded-md shadow-sm">
              {{ field }}
          </div>

          {% if field.help_text %}
          <small style="color: grey;"></small>
          {% endif %}
      </div>
      {% endfor %}
  <div class="mt-6">
      <span class="block w-full rounded-md shadow-sm">
          <button type="submit"
              class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
              Save
          </button>
      </span>
  </div>
</form>
{% endblock mainpage %}